doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/style/style.css')
		link(rel='stylesheet', href='http://socceranoo.github.com/style/bootstrap.css')
		link(rel='stylesheet', href='http://socceranoo.github.com/style/bootstrap-responsive.css')
	body
		div.container
			a(href="/") Home
			br
			a(href="/blog/new") New Post
			block content
